**/bin/
**/obj/
**/.vs/
.vs/
.git/
**/*.user
**/*.suo
**/*.cache
**/*.log
**/Logs/
**/TemporaryFolder*/
**/TemporaryFolderChatBot/
**/TemporaryFolderZip/
**/TemporaryFolderCustomerChatBot/
**/TemporaryMoveFolderCustomerChatBot/
**/TemporaryMoveFolderChatBot/
**/TemporaryFolderLogAPI/
**/TemporaryMoveFolderLogAPI/
**/TemporaryFolderLogWF/
**/TemporaryMoveFolderLogWF/
**/TemporaryFolderLogQuerySQL/
**/TemporaryMoveFolderLogQuerySQL/
